body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.business-card {
  background-color: rgba(190, 188, 188, 0.444);
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

a {
  text-decoration: none;
}

.social-media a {
  color: white;
}

.profile-image {
  max-width: 100%;
}
